.firstItemIcon {
    background-color:#ef4b4c !important;
    border-radius: 8px !important;
    margin-top: 2rem !important;
    margin-left: 1rem !important;
    color: #fff !important;
    padding: 4px 0px !important;
    margin-right: 1rem !important;
    min-width: 32px !important;
}

